body {
    background-color: #dfdfdf;
    margin: 0;
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.header h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow bold', sans-serif;
    font-size: 8vh;
    font-weight: 500;
    color: #000000;
    margin: 0;
    line-height: 105%;
    position: relative;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80vh;
    padding-top: 2vh;
}

.footer h1 {
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow bold', sans-serif;
    font-size: 8.8vh;
    font-style: italic;
    font-weight: 500;
    text-shadow: 0 0 1rem #ffd700;
    margin: 0;
    padding-left: 2vw;
    line-height: 105%;
}

.open-modular {
    width: 96vw;
    height: 60vh;
    background-color: none;
    position: absolute;
    top: 19.55vh;
    left: 2vw;
    display: flex;
}

#open-logo {
    width: auto;
    max-width: 96vw;
    height: auto;
    max-height: 60vh;
    margin: auto;
    cursor: pointer;
}
